<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Template_Login.Properties.Settings.LoginPracticeConnectionString"
            connectionString="Data Source=CCL2-22;Initial Catalog=LoginPractice;User ID=sa;Password=ccl2;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Template_Login.Properties.Settings.NULibraryConnectionString"
            connectionString="Data Source=CCL2-22;Initial Catalog=NULibrary;User ID=sa;Password=ccl2;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Template_Login.Properties.Settings.LoginPracticeConnectionString1"
            connectionString="Data Source=CCL2-22;Initial Catalog=LoginPractice;User ID=sa;Password=ccl2;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Template_Login.Properties.Settings.NULibraryConnectionString1"
            connectionString="Data Source=MILKYWAY\SQLEXPRESS;Initial Catalog=NULibrary;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>